
/* --------- Styles--------- */

/* COLORS -------------------*/

/*RED #d12026 */
/*BLACK #414042 */
/*GREY #adb2a8 */

/*FONTS ---------------------*/
@font-face {
	font-family: 'hyFont';
	src: url('../nimbus-sans-l/NimbusSanL-Reg.otf');
}

h1 {
	font-family: 'hyFont';
}

.screen-1, .screen-2, .screen-3 {
	transition: opacity 0.4s;
}

.screen-2, .screen-3 {
	/*opacity: 0;*/
	display: none;
}

.timer {
	height: 18px;
}

.charades-card {
	display: inline-block;
	border: 1px dotted #333;
}
