
/* --------- Styles--------- */

/* COLORS -------------------*/

/*RED #d12026 */
/*BLACK #414042 */
/*GREY ##adb2a8 */

/*FONTS ---------------------*/
@font-face {
	font-family: 'hyFont';
	src: '../nimbus-sans-l/NimbusSansL-Reg.otf';
}

h1 {
	font-family: 'hyFont';
}